USE [master]
GO
/****** Object:  Database [KendoPOC]    Script Date: 02/04/2013 08:55:33 ******/
CREATE DATABASE [KendoPOC] ON  PRIMARY 
( NAME = N'KendoPOC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLDEV\MSSQL\DATA\KendoPOC.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KendoPOC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLDEV\MSSQL\DATA\KendoPOC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KendoPOC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KendoPOC]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 02/04/2013 08:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [varchar](256) NULL,
	[CreationTs] [datetime] NOT NULL,
	[CreationUserId] [nvarchar](50) NOT NULL,
	[LastChangeTs] [datetime] NULL,
	[LastChangeUserId] [nvarchar](50) NULL,
	[StatusType] [tinyint] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_ItemCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_ItemCategory] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([Id], [SessionId], [CreationTs], [CreationUserId], [LastChangeTs], [LastChangeUserId], [StatusType], [Code], [Description]) VALUES (133, NULL, CAST(0x00009FE800000000 AS DateTime), N'anandan', NULL, NULL, 1, N'Mobile', N'Mobile Phones, Accessories')
INSERT [dbo].[Category] ([Id], [SessionId], [CreationTs], [CreationUserId], [LastChangeTs], [LastChangeUserId], [StatusType], [Code], [Description]) VALUES (134, NULL, CAST(0x00009FE800000000 AS DateTime), N'anandan', NULL, NULL, 1, N'Computers', N'PCs, Laptops')
INSERT [dbo].[Category] ([Id], [SessionId], [CreationTs], [CreationUserId], [LastChangeTs], [LastChangeUserId], [StatusType], [Code], [Description]) VALUES (135, NULL, CAST(0x00009FE800000000 AS DateTime), N'anandan', NULL, NULL, 1, N'Network', N'Network Accessories')
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[UnitofMeasure]    Script Date: 02/04/2013 08:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UnitofMeasure](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [varchar](256) NULL,
	[CreationTs] [datetime] NOT NULL,
	[CreationUserId] [nvarchar](50) NOT NULL,
	[LastChangeTs] [datetime] NULL,
	[LastChangeUserId] [nvarchar](50) NULL,
	[StatusType] [tinyint] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_UnitofMeasure] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_UnitofMeasure] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UnitofMeasure] ON
INSERT [dbo].[UnitofMeasure] ([Id], [SessionId], [CreationTs], [CreationUserId], [LastChangeTs], [LastChangeUserId], [StatusType], [Code], [Description]) VALUES (1, N'1', CAST(0x0000A14F00000000 AS DateTime), N'anandan', NULL, NULL, 1, N'Boxed', N'Boxed Items')
INSERT [dbo].[UnitofMeasure] ([Id], [SessionId], [CreationTs], [CreationUserId], [LastChangeTs], [LastChangeUserId], [StatusType], [Code], [Description]) VALUES (2, N'1', CAST(0x0000A14F00000000 AS DateTime), N'anandan', NULL, NULL, 1, N'Meters', N'Length in Meters')
SET IDENTITY_INSERT [dbo].[UnitofMeasure] OFF
/****** Object:  Table [dbo].[Product]    Script Date: 02/04/2013 08:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [varchar](256) NULL,
	[CreationTs] [datetime] NOT NULL,
	[CreationUserId] [nvarchar](50) NOT NULL,
	[LastChangeTs] [datetime] NULL,
	[LastChangeUserId] [nvarchar](50) NULL,
	[StatusType] [tinyint] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [decimal](5, 2) NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL,
	[Discontinued] [bit] NOT NULL,
	[UnitOfMeasure_Id] [int] NOT NULL,
	[Category_Id] [int] NOT NULL,
 CONSTRAINT [PK_Products2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([Id], [SessionId], [CreationTs], [CreationUserId], [LastChangeTs], [LastChangeUserId], [StatusType], [ProductName], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued], [UnitOfMeasure_Id], [Category_Id]) VALUES (3, NULL, CAST(0x0000A13100000000 AS DateTime), N'Anandan', NULL, NULL, 1, N'Samsung Galaxy Tab 5', NULL, CAST(200.00 AS Decimal(5, 2)), 10, NULL, NULL, 0, 1, 133)
INSERT [dbo].[Product] ([Id], [SessionId], [CreationTs], [CreationUserId], [LastChangeTs], [LastChangeUserId], [StatusType], [ProductName], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued], [UnitOfMeasure_Id], [Category_Id]) VALUES (5, N'5', CAST(0x0000A13100000000 AS DateTime), N'Anandan', CAST(0x0000A158010FE4C1 AS DateTime), N'SuperUser', 1, N'10baseT Cable', N'12', CAST(200.00 AS Decimal(5, 2)), 10, NULL, NULL, 0, 2, 135)
INSERT [dbo].[Product] ([Id], [SessionId], [CreationTs], [CreationUserId], [LastChangeTs], [LastChangeUserId], [StatusType], [ProductName], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued], [UnitOfMeasure_Id], [Category_Id]) VALUES (7, NULL, CAST(0x0000A13100000000 AS DateTime), N'Anandan', NULL, NULL, 1, N'Samsung Galaxy Tab 5', NULL, CAST(200.00 AS Decimal(5, 2)), 10, NULL, NULL, 0, 1, 133)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  ForeignKey [FK_Product_Category]    Script Date: 02/04/2013 08:55:35 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
/****** Object:  ForeignKey [FK_Product_UnitofMeasure]    Script Date: 02/04/2013 08:55:35 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_UnitofMeasure] FOREIGN KEY([UnitOfMeasure_Id])
REFERENCES [dbo].[UnitofMeasure] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_UnitofMeasure]
GO
